@{
    ViewData["Title"] = "Home Page";
}
<body style="background-image: url('@Url.Content("~/pics1/bgimage.png")');>
    <div class="text-center">
        <h1 class="display-4">Farm Central</h1>
        <h2>Fresh Produce, Even Fresher Prices </h2>
        <img src="~/pics1/farmhouse.jpeg" />
        <h4>We are located at:</h4>
        <h5>A1 Highfield drive</h5>
        <p> </p>
        <p> </p>
        <p> </p>
        <h4>Hours:</h4>
        <p>Monday	    9 am–3 pm</p>
        <p>Tuesday	    9 am–3 pm</p>
        <p>Wednesday	9 am–3 pm</p>
        <p>Thursday	    9 am–3 pm</p>
        <p>Friday	    9 am–3 pm</p>
        <p>Saturday	    9 am–3 pm</p>
        <p>Sunday	    9 am–3 pm</p>
    </div>
</body>
