
<h2>Login</h2>
<span style="color:red"> @ViewBag.Error</span>
@using (Html.BeginForm())
{
    <table style="width:50%">
        <tr style="height:40px">
            <td>UserName</td>
            <td>@Html.TextBox("tbxUserName", null, new { @class = "form-control" })</td>
            <td>&nbsp</td>
        </tr>
        <tr style="height:40px">
            <td>Password</td>
            <td> @Html.TextBox("tbxPassword", null, new { @class = "form-control" }) </td>
            <td>&nbsp</td>
        </tr>
        <tr style="height:40px">
            <td>&nbsp</td>
            <td> <input id="btnSubmit" type="submit" value="Login" class="btn btn-default" /> </td>
            <td>&nbsp</td>
        </tr>

    </table>
}
